<div class="slide-out-mobile-nav">
		<nav>
			<ul>

				<li class="mobile-nav-profile">
					<a href="#"><img src="ava.png" class="ava ava50" width="34" height="34">
					<span class="username">bestofglass</span>
				</a>
				</li>

				<li>
					<input class="inputbox searchbox" id="search" name="search" placeholder="Search" type="text">
					<button class="left svg" type="submit">
						<object type="image/svg+xml" data="<%= asset_path('search_icon.png.svg') %>" class="searchbtn">
  							<img src="<%= asset_path('search_icon.png') %>">
						</object>
					</button>
				</li>

			<li>
				<a class="mainnavlink" href=""><span class="activityicon"></span><span class="notifycircle"></span>Activity</a>
			</li>
			<li>
				<a class="mainnavlink" href=""><span class="notificationicon"></span><span class="notifycircle"></span>Notifications</a>
			</li>
			<li>
				<a class="mainnavlink" href=""><span class="messageicon"></span>Messages</a>
			</li>
			<li>
				<a class="mainnavlink" href=""><span class="dashboardicon"></span>Dashboard</a>
			</li>

			<li>
				<a class="mainnavlink subnavlink" href="">Link</a>
			</li>

			<li>
				<a class="mainnavlink subnavlink" href="">Link</a>
			</li>

			<li>
				<a class="mainnavlink subnavlink" href="">Link</a>
			</li>

			</ul>
		</nav>

	</div>